
<h2>Add</h2>
<form action="/add" method="POST">
    <input type="text" name="name" placeholder="Nombre">
    <input type="text" name="tel" placeholder="Telefono">
    <button type="submit">Enviar</button>
</form>